<footer>
    <div>
        <a href="https://www.xing.com/profile/Nicolas_Hormesch" target="_blank"><img src='./assets/xing_icon.svg' height="50" length="50"></a>
        <a *ngIf="!isMobile" href="https://www.xing.com/profile/Nicolas_Hormesch" target="_blank">Nicolas Hormesch</a>
    </div>
    <div>
        <a href="https://github.com/nhm1990/MyApplication" target="_blank"><img src='./assets/Github_icon.svg' height="50" length="50"></a>
        <a *ngIf="!isMobile" href="https://github.com/nhm1990/MyApplication" target="_blank">https://github.com/nhm1990/MyApplication</a>
    </div>
    <div *ngIf="!isMobile">
        <div (click)="showHideImprint()">
            <img src='./assets/imprint_icon.svg' height="50" length="50">
            <a> Impressum</a>
        </div>
    </div>
</footer>

<app-imprint *ngIf="isImprint && !isMobile"></app-imprint>