<section>
    <div *ngIf="!isVerified">
        <div class="center"><ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:6, allowNumbersOnly:true}"></ng-otp-input></div>
        <br>
        <div [@showErrorMessage] *ngIf="isFullLength && !isVerified" class="alert alert-danger">
            <div [ngClass]="validationClass" *ngIf="invocationCounter <= 10">Der eingegebene Verifikationscode <br> ist ungültig </div>
            <div [ngClass]="validationClass" *ngIf="invocationCounter > 10">Bitte mache nicht so viele Abfragen! <br> Das mag der Server nicht </div>
        </div>
    </div>
</section>

<div *ngIf="isVerified">
    <app-landing-page [documentList]="documentList"></app-landing-page>
</div>


