html, body {
    height: 100%;
}
body {
    margin: 0;
}

.right-center {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 85%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
