<section>
    <table [@enterComponent]>
        <thead>
            <strong>Willkommen {{ documentList[0].companyName }}</strong><br><br>
        </thead>
        <tbody>
            <tr *ngFor="let document of documentList; let i = index" class="trElements">
                <td (click)="multiSelect(i)">
                    <!--<button type="button" class="btn" [class.highlight]="selectedFileArr.indexOf(i) !== -1" (click)="multiSelect(i)">
                        <div style="text-align: left;">
                            <div style="display: inline-block; text-align: center;">
                                <img src={{document.iconPath}} height="50" length="50">
                                {{ document.name }}
                            </div>
                        </div>
                    </button> -->
                    <input type="checkbox" [checked]="selectedFileArr.indexOf(i) !== -1">
                    {{ document.name }}
                </td>
            </tr>
            <br>
            <tr>
                <input (click)="downloadSelected()" type="button" value="Download" class="downloadButton" required validationMessage="Please select movie">
                <div [@showErrorMessage] *ngIf="isNoSelection" class="alert alert-danger">Bitte selektieren Sie <br> mindestens ein Element</div>
            </tr>
        </tbody>
    </table>
</section>


