section {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.sectionWrapper{
    background-color: rgba(211, 208, 208, 0.89); 
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin-right: -50%;
    transform: translate(-50%, -50%);    
}

.btn {
    border: 2px solid black;
    border-radius: 4px;
    background-color:  white;
    color: black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
    height: 90px;
}

.documentTable{
    border-spacing: 5px 1em;
}

.highlight{ 
    background-color: #4CAF50;

    &:hover,
    &:focus {
        background-color: #4CAF50;
    }
    
    &:active {
        top: .08em;
    }
}

.downloadButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
