/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('assets/background-image.jpg');
}

section {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

td {
    border-bottom-style: inset;
    width: 100%;
    padding: 15px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.trElements{
    :hover {
        background: rgba(86, 128, 77, 0.562)
    }
}

input[type='checkbox']{
    height: 15px;
    width: 15px;
    margin-right: 15px;
    cursor: pointer;
}

